<a href="https://colab.research.google.com/github/JaskeeratK/Subset_selection_problem/blob/main/Subset_Selection_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Find all the subsets from a set of numbers whose sum is zero.
# Constraint: Subset size must be 5
# Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}

In [7]:
import random as r
Set=[-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4]
set_size=5
res=set()
iterations=1000
for _ in range(iterations):
  chr=r.sample(Set,set_size)
  if sum(chr)==0:
    res.add(tuple(sorted(chr)))

In [8]:
for r in res:
  print(r,'\n')

(-12, -6, 2, 7, 9)

(-8, -6, 1, 6, 7)

(-9, -2, 2, 3, 6)

(-7, -6, -2, 6, 9)

(-9, -5, 2, 3, 9)

(-9, -4, -3, 7, 9)

(-12, -4, 2, 3, 11)

(-7, -3, -2, 3, 9)

(-4, -2, 1, 2, 3)

(-12, -7, 2, 6, 11)

(-12, -2, 2, 3, 9)

(-6, -5, 2, 3, 6)

(-12, -8, 3, 6, 11)

(-8, -4, 2, 3, 7)

(-8, -7, -5, 9, 11)

(-7, -6, -3, 7, 9)

(-7, -3, -2, 1, 11)

(-6, -3, -2, 2, 9)

(-12, -4, 3, 6, 7)

(-8, -3, 2, 3, 6)

(-9, -6, 2, 6, 7)

(-9, -4, -2, 6, 9)

(-12, -9, 3, 7, 11)

(-7, -6, -5, 7, 11)

(-6, -5, -2, 6, 7)

(-9, -3, -2, 3, 11)

(-8, -5, -3, 7, 9)

In [12]:
# Find all the subsets from a set of numbers whose sum is zero.
# Constraint: Subset size must be 3 to 6 only
# Set={-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4}

In [11]:
import random as r
Set=[-12, -3, -6, 7, 2, -2, 6, 3, 9, -7, -5, -8, 1, 11, -9, -4]
res=set()
iterations=1000
for _ in range(iterations):
  set_size=r.randint(3,6)
  chr=r.sample(Set,set_size)
  if sum(chr)==0:
    res.add(tuple(sorted(chr)))

In [13]:
for r in res:
  print(r,'\n')

(-12, -6, 3, 6, 9)

(-3, -2, 2, 3)

(-12, -5, -4, 1, 9, 11)

(-9, 2, 7)

(-7, -4, -3, 3, 11)

(-5, -4, -3, 1, 11)

(-5, 2, 3)

(-6, -5, -4, 1, 3, 11)

(-8, -6, -2, 7, 9)

(-4, 1, 3)

(-4, -2, 1, 2, 3)

(-6, -4, 1, 9)

(-9, -4, 2, 11)

(-8, -2, 1, 9)

(-8, 2, 6)

(-6, -3, 3, 6)

(-4, -3, -2, 1, 2, 6)

(-12, -2, 1, 2, 11)

(-9, -6, -2, 1, 7, 9)

(-9, -6, 6, 9)

(-5, -2, 7)

(-8, -4, 2, 3, 7)

(-4, -3, -2, 2, 7)

(-8, -5, 2, 11)

(-12, -5, -3, 3, 6, 11)

(-8, -7, 6, 9)

(-8, -4, 3, 9)

(-7, -6, -3, 1, 6, 9)

(-5, -4, -3, 3, 9)

(-7, 1, 6)

(-4, -3, 7)

(-8, -3, 11)

(-9, -5, -2, 3, 6, 7)

(-5, -4, 9)